.DS_Store
Data/Charts/*
Data/generated_scenario/*
!Data/generated_scenario/scenario_txt_files

Data/Instances/*
!Data/Instances/Scenarios_1000_greaterthan2/scenario_txt_files
!Data/Instances/C1_5000_500/scenario_txt_files

Data/other/*
Data/MIP/*
results/*
test.jl
Scenario_analysis/*
